#BackToTop {float: left;display:none;color: #fff;margin: 0 5px;padding: 8px 15px 12px 15px;text-decoration: none;border: 1px solid #000001;font-size: 140%;position:fixed;top:550px;right:10px;background-color: #000;
text-shadow: 0 -1px 0 rgba(0,0,0,.8);
}

